---
import Layout from "@layouts/Layout.astro";
import Text from "@components/Text.astro";
import Heading from "@components/Heading.astro";
import Section from "@components/Section.astro";
---

<Layout title="Koki Miyakubo - Homepage">
  <Section>
    <Heading title="404" />
    <Text text="Sorry, we couldn’t find the page you’re looking for." />
    <div class="mt-10">
      <a href="/" class="text-sm font-semibold leading-7 text-background-dark dark:text-background-light"><span
          aria-hidden="true">&larr;</span> Back to home</a>
    </div>
  </Section>

</Layout>
