---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Profile from "../components/Profile.astro";
import Mainvisual from "../components/Mainvisual.astro";
import Text from "../components/Text.astro";
import Feed from "../components/Feed.astro";
---

<Layout title="Astro blog">
  <Header />
  <main class="mx-auto max-w-2xl p-6 lg:px-8">
    <Mainvisual />
    <Profile />
    <div class="mt-5">
      <h2 class="text-xl font-semibold">Bio</h2>
     <Text />
     <Feed />
    </div>
  </main>
  <Footer />
</Layout>
