---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Profile from "../components/Profile.astro";
import Mainvisual from "../components/Mainvisual.astro";
import Text from "../components/Text.astro";
import Feed from "../components/Feed.astro";
---

<Layout title="Koki Miyakubo - Homepage">
  <Header />
  <main class="mx-auto max-w-2xl px-6 lg:px-8">
    <Mainvisual />
    <Profile />
    <div class="mt-10 bg-white bg-opacity-25 backdrop-blur-lg p-4 rounded-lg shadow-lg">
      <h2 class="text-xl font-semibold inline-flex border-b-secondary-accent border-b-4 text-background-dark dark:text-background-light">Bio</h2>
      <Feed />
    </div>
  </main>
  <Footer />
</Layout>
