---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Heading from "@components/Heading.astro";
import Text from "@components/Text.astro";
---

<Layout title="Koki Miyakubo - Homepage">
  <Section>
    <Heading title="Portfolio" />
    <Text text="I will be sharing insights on programming and design in my articles." />
  </Section>
</Layout>
