---
import { Image } from 'astro:assets'
const { imgSrc } = Astro.props;
---

<div
  class="w-32 h-32 rounded-full flex sm:ml-auto overflow-hidden border-4 border-background-light"
>
<Image  src={imgSrc} alt="Profile picture" />
</div>
