---
const bios = [
  {
    company: "宮崎県で生まれる",
    role: "",
    date: "1991年5月",
  },
  {
    company: "九州安達学園 九州デザイナー学院",
    role: "インテリアデザイン科卒業",
    date: "2012年3月",
  },
  {
    company: "建築施工管理会社",
    role: "現場監督",
    date: "2012年3月",
  },
  {
    company: "陸上自衛隊",
    role: "陸士長 退隊",
    date: "2013年3月",
  },
  {
    company: "SES",
    role: "フロントエンドエンジニア",
    date: "2015年4月",
  }
];
---

<div class="mt-8 flow-root">
  <ul role="list" class="-mb-8">
    {
      bios.map((data, index) => (
        <li>
          <div class="relative pb-10">
            {index !== bios.length - 1 && (
              <span
                class="absolute left-1 top-2 -ml-px h-full w-0.5 bg-support"
                aria-hidden="true"
              />
            )}
            <div class="relative flex space-x-3">
              <div>
                <span class="h-2 w-2 rounded-full flex items-center justify-center ring-4 ring-secondary-accent bg-background-light" />
              </div>
              <div class="flex min-w-0 flex-1 justify-between space-x-4">
                <div class="-mt-1.5">
                  <p class="text-sm text-background-dark dark:text-background-light">
                    {data.company}{" "}
                    {index === bios.length - 1 && (
                      <span class="font-semibold"> - 現在</span>
                    )}
                    <span class="flex font-semibold text-xs sm:text-sm">
                      {data.role}
                    </span>
                  </p>
                </div>
                <div class="whitespace-nowrap text-right text-sm text-background-dark dark:text-background-light">
                  <time datetime={new Date(data.date).toString()}>{data.date}</time>
                </div>
              </div>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</div>
