---
import type { Section } from '../types';
import ThemeToggleButton from "@components/ThemeToggleButton.astro";
import SiteLogo from "@components/SiteLogo.astro";
import HamburgerButton from "@components/HamburgerButton.astro";
import NavigationLinks from "@components/NavigationLinks.astro";

const sectionsData: Section[] = [
  {
    title: "Works",
    link: "/works",
  },
  {
    title: "TechLog",
    link: "https://techlogwalk.vercel.app",
    blank: true,
  },
  {
    title: "Source",
    link: "https://github.com/itsukichan/techpanda",
    blank: true,
    icon: "github",
  },
];
---

<header class="sticky top-0 z-30 w-full bg-opacity-25 backdrop-blur-lg rounded-lg shadow-lg">
  <nav class="mx-auto flex max-w-2xl items-center justify-between p-6 sm:px-8" aria-label="Global">
    <div class="-m-1.5 p-1.5">
      <SiteLogo />
    </div>
    <ThemeToggleButton />
    <HamburgerButton />
    <NavigationLinks sections={sectionsData} />
  </nav>
</header>

<!-- モバイルメニュー -->
<div
  id="mobile-menu"
  class="sm:hidden fixed inset-0 z-50 bg-background-light dark:bg-background-dark transform transition-transform duration-300 ease-in-out translate-x-full"
>
  <div class="h-full w-full px-6 py-6">
    <div class="flex items-center justify-between">
      <div class="-m-1.5 p-1.5">
        <SiteLogo />
      </div>
      <button
        id="close-menu"
        type="button"
        class="-m-2.5 rounded-md p-2.5 text-background-dark dark:text-background-light"
      >
        <span class="sr-only">メニューを閉じる</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          {
            sectionsData.map((data) => (
              <a
                href={data.link}
                class="-mx-3 flex items-center gap-1 rounded-lg px-3 py-2 text-background-dark dark:text-background-light"
                target={data.blank ? "_blank" : ""}
                rel={data.blank ? "noopener noreferrer" : ""}
              >
                {data.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function setupMobileMenu() {
    const openMenuButton = document.getElementById("open-menu");
    const closeMenuButton = document.getElementById("close-menu");
    const mobileMenu = document.getElementById("mobile-menu");
    const html = document.documentElement;

    if (!openMenuButton || !closeMenuButton || !mobileMenu) return;

    function toggleMenu(isOpen: boolean) {
      if (!mobileMenu) return;

      mobileMenu.classList.toggle("translate-x-full", !isOpen);
      mobileMenu.classList.toggle("translate-x-0", isOpen);

      if (isOpen) {
        html.style.overflow = 'hidden';
      } else {
        html.style.overflow = '';
      }
    }

    openMenuButton.addEventListener("click", () => toggleMenu(true));
    closeMenuButton.addEventListener("click", () => toggleMenu(false));

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") toggleMenu(false);
    });

    toggleMenu(false);
  }

  setupMobileMenu();
  document.addEventListener("astro:after-swap", setupMobileMenu);
</script>
