---
import type { Section } from '../types';
import SocialIcon from './SocialIcon.astro';

interface Props {
  sections: Section[];
}

const { sections } = Astro.props;
---

<div class="hidden sm:flex sm:gap-x-6">
  {
    sections.map((data) => (
      <a
        href={data.link}
        class="text-sm font-semibold leading-6 text-background-dark dark:text-background-light flex items-center gap-1 hover:text-accent dark:hover:text-accent transition-colors"
        target={data.blank ? "_blank" : ""}
        rel={data.blank ? "noopener noreferrer" : ""}
      >
        {data.title}
      </a>
    ))
  }
</div>
