---
import Button from './Button.astro'
import Avatar from './Avatar.astro'
import Text from './Text.astro'
const imgPath = '/src/images/img-avatar.png'
---

<div class="flex -mt-10">
  <div>
    <h1 class="text-2xl font-bold">Koki Miyakubo</h1>
    <p class="text-sm font-semibold text-gray-500">Frontend Engineer</p>
    <Text />
    <div class="grid lg:grid-cols-2 mt-6">
      <Button link="/portfolio" text="My Portfoiio" />
      <Button link="/blog" text="My Blog" />
    </div>
  </div>
  <div class="ml-4 flex-shrink-0">
    <Avatar imgSrc={imgPath} />
  </div>
</div>
