---

const { text = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.' } = Astro.props;
---

<p class="mt-2 text-background-dark dark:text-background-light">
{ text }
</p>
